/* Badges */
.badge {
    @apply rounded-md px-4 py-2 flex items-center gap-3;
}

/* Badges Theme */
.badge.badge-white {
    @apply bg-white bg-opacity-20 ;
}

.badge .badge-icon {
    @apply bg-white bg-opacity-50 rounded-md px-3 py-3;
}

.badge .badge-title {
    font-weight: 500;
    @apply text-sm;
}

/* Badge Outline Themes */
.badge-outline-secondary {
    @apply border border-gray-400;
}

.badge-outline-success {
    @apply border border-gray-500;
}

.badge-outline-info {
    @apply border border-blue-500;
}

.badge-outline-secondary p, .badge-outline-success p, .badge-outline-info p {
    font-weight: 500;
    @apply text-sm;
}

.badge-outline-secondary p {
    @apply text-gray-950;
}

.badge-outline-success p {
    @apply text-green-900;
}

.badge-outline-info p {
    @apply text-blue-900;
}

/* Chatboxs */
.chatbox {
    @apply relative px-2 py-2 w-fit rounded-md lg:px-3;
}

.chatbox.chatbox-white {
    @apply bg-white;
}

.chatbox.chatbox-primary {
    @apply bg-[#8BC4FF];
}

.chatbox.chatbox.chatbox-primary p, .chatbox.chatbox.chatbox-white p {
    font-weight: 600;
    @apply text-sm lg:text-base;
}

.chatbox.chatbox-white p {
    @apply text-[#40E2E8];
}

.chatbox .chatbox-triangle {
    @apply absolute bottom-[-8px] left-2 w-0 h-0 border-l-[8px] border-r-[8px] border-t-[8px] border-transparent;
}

.chatbox.chatbox-white .chatbox-triangle {
    @apply border-t-white;
}

.chatbox.chatbox-primary .chatbox-triangle {
    @apply border-t-[#8BC4FF];
}